# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Node
node_modules/
dist/
dist-ssr/
*.local

# Python
venv/
__pycache__/
*.pyc

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.idea
.DS_Store

# Build
build/

# Temp
*.tmp
.env
.env.local
.env.production
